* {
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
}

li {
    list-style: none;
}

.Header nav ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #010101;
    color: #fafafa;
    margin: 10px 10px 0 10px;
    border-radius: 15px;
    padding: 20px;
}

.Header nav ul li {
    color: inherit;
    background-color: darkgrey;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}